/* generic styles */

/*
- https://bitsofco.de/the-new-system-font-stack/
- https://booking.design/implementing-system-fonts-on-booking-com-a-lesson-learned-bdc984df627f
*/
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.icon {
	display: inline-block;
	vertical-align: baseline;
}

svg	path {
	fill: inherit;
}


a {
	color: inherit;
	text-decoration: inherit;
}


/* CSS collapsible elements */


[data-collapsible] {
	max-height: 0;
	overflow: hidden;
}

[data-collapsible-controller] {
	display: none;
}

[data-collapsible-controller]:checked ~ [data-collapsible],
:target ~ [data-collapsible] {
	max-height: 100vh;
}

/* button */
[data-collapsible-button] {
	cursor: pointer;
}


/* BUTTON ICONS */

/* 1 icon */
[data-collapsible-icon] {
	display: inline-block;
	height: 1em;
	will-change: transform;
	transform: rotate3d(0,0,0,180deg);
	transition: transform ease-out .3s;
}

/*[data-collapsible-controller]:checked ~ [data-collapsible-button] [data-collapsible-icon] {
	transform: rotate3d(1,0,0,180deg);
}*/
[data-collapsible-controller]:checked ~ [data-collapsible-button] .icon--flip {
	transform: rotate3d(1,0,0,180deg);
}


/* EXPANDED / COLLAPSED ICONS (2 icons) */

/* collapsed state */
[data-collapsible-controller]:not(:checked) ~ [data-collapsible-button] [data-collapsible-icon="collapsed"] {
	display: inline-block;
}
[data-collapsible-controller]:not(:checked) ~ [data-collapsible-button] [data-collapsible-icon="expanded"] {
	display: none;
}

/* expanded state */
[data-collapsible-controller]:checked ~ [data-collapsible-button] [data-collapsible-icon="collapsed"] {
	display: none;
}
[data-collapsible-controller]:checked ~ [data-collapsible-button] [data-collapsible-icon="expanded"] {
	display: inline-block;
}




/* theme */

body {
	background-color: #fafafa;
}


.button--toggle {
	display: inline-block;
	color: #0098d9;
	width: 1em;
	height: auto;
	margin-left: 1rem;
}


.section--demo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

img {
	background-color: #ccc;
	margin: 0 1rem 1rem;
}


/* Collapsible expand transition */

/*[data-collapsible] {
	will-change: max-height;
	transform: translateZ(0);
}

[data-collapsible-controller]:checked ~ [data-collapsible],
:target ~ [data-collapsible] {
	transition: max-height cubic-bezier(0, 1, 1, 1) 300ms;
}*/



/* accordions */

.heading {
	margin: 0;
	display: flex;
	padding: 1rem;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}


.accordion {
	flex: 1 0 50%;
	margin: 1rem;
	box-shadow: 0 1px 3px #bdbdbd;
	border-radius: 2px;
	background-color: white;
}

.accordion-header {
	color: #585858;
	border-bottom: 1px solid #e0e0e0;
}

.accordion-header p {
	margin: 0 1rem 1rem;
}



/* Collapsibles accordion items */


.collapsible {
	padding: 0;
	color: #575757;
}

.collapsible:not(last-child) {
	border-bottom: 1px solid #e0e0e0; */
}

.collapsible-header {
	display: block;
	color: #585858;
}

.collapsible-header:focus,
.collapsible-header:hover {
	color: #ff005e;
}

.collapsible-header .icon {
	stroke-width: 3px;
	opacity: .4;
	width: 1em;
}

/*[data-collapsible-controller]:checked ~ .collapsible-header {
	color: #ff005e;
}*/

.collapsible p {
	margin: 0;
	padding: 0 1em 1em 1em;
}



/* plus-icon variant */

.plus-icon {
	display: inline-block;
	height: 1em;
	will-change: transform;
	transform: rotate(0);
	transition: transform ease-out .3s;
}

[data-collapsible-controller]:checked ~ [data-collapsible-button] .plus-icon,
:target ~ .collapsible-header .plus-icon {
	transform: rotate(135deg);
}





@keyframes grow {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
